$bg-color: #fff;
$text-color: #221314;
$second-color: #5a7184;
$main-color: #6e54fa;

$big-font: 6rem;

$h2-font: 3rem;
$h2-font-m: 2.2rem;

$p-font: 1.1rem;

$main-font: "Poppins", sans-serif;
$second-font: "Paytone One", sans-serif;

$smooth: all 0.4s ease;
